.darkmode{
    background: #000000;
    color: #ffff !important;
}
.darkmodeList{
    background: #000000 !important;
    color: #ffff !important;
}

.darkmodeText{
    font-size: 20px;
    padding-left: 10px;
    color: #ffff;
}
.card-title-dark {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
.card-title-dark::before {
    content: attr(data-content);
    display: inline-block;
    background-color: #000000 !important;
    border-radius: 30rem;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }