.darkmode{
    background: #000000;
    color: #ffff !important;
}
.darkmodeList{
    background: #000000 !important;
    color: #ffff !important;
}

.darkmodeText{
    font-size: 20px;
    padding-left: 10px;
    color: #ffff;
}
