
.card-title-small{
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-title {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
.card-title::before {
    content: attr(data-content);
    display: inline-block;
    background-color: #fff;
    border-radius: 30rem;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*experience-timeline*/
.experience-timeline {
    overflow: hidden;
    position: relative
}

.experience-timeline:before {
    content: "";
    width: 4px;
    height: 70%;
    background: #333;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%)
}

.experience-timeline .timeline-content:before,
.experience-timeline .timeline:before {
    top: 50%;
    transform: translateY(-50%);
    content: ""
}

.experience-timeline .timeline {
    width: 50%;
    padding-left: 100px;
    float: right;
    position: relative
}

.experience-timeline .timeline:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #333;
    position: absolute;
    left: -10px
}

.experience-timeline .timeline-content {
    display: block;
    padding-left: 110px;
    position: relative;
    text-decoration: unset;
}

.experience-timeline .timeline-content:before {
    width: 65px;
    height: 10px;
    border-top: 5px dotted #333;
    position: absolute;
    left: -92px;
    text-align: left;
    
}

.experience-timeline .year {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 50%;
    border: 10px solid #f54957;
    font-size: 30px;
    color: #f54957;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: -25px
}

.experience-timeline .year:before {
    content: "";
    border-left: 20px solid #f54957;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg)
}

.experience-timeline .inner-content {
    padding: 20px 0;
}

.experience-timeline .title {
    font-size: 20px;
    font-weight: 600;
    color: #f54957;
    text-transform: uppercase;
    margin: 0 0 5px
}

.experience-timeline .description {
    font-size: 14px;
    color: #504237;
    margin: 0 0 5px
}

.experience-timeline .timeline:nth-child(2n) {
    padding: 0 100px 0 0
}

.experience-timeline .timeline:nth-child(2n) .timeline-content:before,
.experience-timeline .timeline:nth-child(2n) .year,
.experience-timeline .timeline:nth-child(2n):before {
    left: auto;
    right: -10px
}

.experience-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 0 110px 0 0
}

.experience-timeline .timeline:nth-child(2n) .timeline-content:before {
    right: -92px
}

.experience-timeline .timeline:nth-child(2n) .year {
    right: -25px;
}

.experience-timeline .timeline:nth-child(2n) .year:before {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid #f54957;
    transform: rotate(-45deg)
}

.experience-timeline .timeline:nth-child(2) {
    margin-top: 110px
}

.experience-timeline .timeline:nth-child(odd) {
    margin: -110px 0 0
}

.experience-timeline .timeline:nth-child(even) {
    margin-bottom: 80px
}

.experience-timeline .timeline:first-child,
.experience-timeline .timeline:last-child:nth-child(even) {
    margin: 0
}

.experience-timeline .timeline:nth-child(2n) .year {
    border-color: #1ebad0;
    color: #1ebad0
}

.experience-timeline .timeline:nth-child(2) .year:before {
    border-right-color: #1ebad0
}

.experience-timeline .timeline:nth-child(2n) .title {
    color: #1ebad0
}

.experience-timeline .timeline:nth-child(3n) .year {
    border-color: #7cba01;
    color: #7cba01
}

.experience-timeline .timeline:nth-child(3) .year:before {
    border-left-color: #7cba01
}

.experience-timeline .timeline:nth-child(3n) .title {
    color: #7cba01
}

.experience-timeline .timeline:nth-child(4n) .year {
    border-color: #f8781f;
    color: #f8781f
}

.experience-timeline .timeline:nth-child(4) .year:before {
    border-right-color: #f8781f
}

.experience-timeline .timeline:nth-child(4n) .title {
    color: #f8781f
}

@media only screen and (max-width:1200px) {
    .experience-timeline .year {
        top: 50%;
        transform: translateY(-50%)
    }
}

@media only screen and (max-width:990px) {
    .experience-timeline .timeline {
        padding-left: 75px
    }
    .experience-timeline .timeline:nth-child(2n) {
        padding: 0 75px 0 0
    }
    .experience-timeline .timeline-content {
        padding-left: 130px
    }
    .experience-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 0 130px 0 0
    }
    .experience-timeline .timeline-content:before {
        width: 68px;
        left: -68px
    }
    .experience-timeline .timeline:nth-child(2n) .timeline-content:before {
        right: -68px
    }
}

@media only screen and (max-width:767px) {
    .experience-timeline {
        overflow: visible
    }
    .experience-timeline:before {
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0)
    }
    .experience-timeline .timeline:before,
    .experience-timeline .timeline:nth-child(2n):before {
        top: 60px;
        left: -9px;
        transform: translateX(0)
    }
    .experience-timeline .timeline,
    .experience-timeline .timeline:nth-child(even),
    .experience-timeline .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 0 10px
    }
    .experience-timeline .timeline-content,
    .experience-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 0
    }
    .experience-timeline .timeline-content:before,
    .experience-timeline .timeline:nth-child(2n) .timeline-content:before {
        display: none
    }
    .experience-timeline .timeline:nth-child(2n) .year,
    .experience-timeline .year {
        position: relative;
        transform: translateY(0)
    }
    .experience-timeline .timeline:nth-child(2n) .year:before,
    .experience-timeline .year:before {
        border: none;
        border-right: 20px solid #f54957;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: -23px;
        bottom: auto;
        right: auto;
        transform: rotate(0)
    }
    .experience-timeline .timeline:nth-child(2n) .year:before {
        border-right-color: #1ebad0
    }
    .experience-timeline .timeline:nth-child(3n) .year:before {
        border-right-color: #7cba01
    }
    .experience-timeline .timeline:nth-child(4n) .year:before {
        border-right-color: #f8781f
    }
    .experience-timeline .inner-content {
        padding: 10px
    }
}


/*education-timeline*/



.main-education-timeline {
    overflow: hidden;
    position: relative
}

.main-education-timeline .timeline {
    position: relative;
    margin-top: -79px
}

.main-education-timeline .timeline:first-child {
    margin-top: 0
}

.main-education-timeline .timeline-icon,
.main-education-timeline .year {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-education-timeline .timeline:after,
.main-education-timeline .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-education-timeline .timeline:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.main-education-timeline .timeline-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #f44556;
    border-right-color: #f44556;
    z-index: 1;
    transform: rotate(45deg)
}

.main-education-timeline .year {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    font-size: 30px;
    font-weight: 700;
    color: #f44556;
    text-align: center;
    transform: rotate(-45deg)
}

.main-education-timeline .timeline-content {
    width: 35%;
    float: right;
    background: #f44556;
    padding: 30px 20px;
    margin: 50px 0;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
    z-index: 1;
    position: relative;
    border-radius: 11px;
}

.main-education-timeline .timeline-content:before {
    content: "";
    width: 20%;
    height: 15px;
    background: #f44556;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%)
}

.main-education-timeline .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px
}

.main-education-timeline .description {
    font-size: 16px;
    color: #504237;
    line-height: 24px;
    margin: 0
}

.main-education-timeline .timeline:nth-child(2n) .timeline-icon {
    transform: rotate(-135deg);
    border-top-color: #e97e2e;
    border-right-color: #e97e2e
}

.main-education-timeline .timeline:nth-child(2n) .year {
    transform: rotate(135deg);
    color: #e97e2e
}

.main-education-timeline .timeline:nth-child(2n) .timeline-content {
    float: left
}

.main-education-timeline .timeline:nth-child(2n) .timeline-content:before {
    left: auto;
    right: -20%
}

.main-education-timeline .timeline:nth-child(2n) .timeline-content,
.main-education-timeline .timeline:nth-child(2n) .timeline-content:before {
    background: #e97e2e
}

.main-education-timeline .timeline:nth-child(3n) .timeline-icon {
    border-top-color: #13afae;
    border-right-color: #13afae
}

.main-education-timeline .timeline:nth-child(3n) .year {
    color: #13afae
}

.main-education-timeline .timeline:nth-child(3n) .timeline-content,
.main-education-timeline .timeline:nth-child(3n) .timeline-content:before {
    background: #13afae
}

.main-education-timeline .timeline:nth-child(4n) .timeline-icon {
    border-top-color: #105572;
    border-right-color: #105572
}

.main-education-timeline .timeline:nth-child(4n) .year {
    color: #105572
}

.main-education-timeline .timeline:nth-child(4n) .timeline-content,
.main-education-timeline .timeline:nth-child(4n) .timeline-content:before {
    background: #105572
}

@media only screen and (max-width:1199px) {
    .main-education-timeline .timeline {
        margin-top: -103px
    }
    .main-education-timeline .timeline-content:before {
        left: -18%
    }
    .main-education-timeline .timeline:nth-child(2n) .timeline-content:before {
        right: -18%
    }
}

@media only screen and (max-width:990px) {
    .main-education-timeline .timeline {
        margin-top: -127px
    }
    .main-education-timeline .timeline-content:before {
        left: -2%
    }
    .main-education-timeline .timeline:nth-child(2n) .timeline-content:before {
        right: -2%
    }
}

@media only screen and (max-width:767px) {
    .main-education-timeline .timeline {
        margin-top: 0;
        overflow: hidden
    }
    .main-education-timeline .timeline:before,
    .main-education-timeline .timeline:nth-child(2n):before {
        box-shadow: none
    }
    .main-education-timeline .timeline-icon,
    .main-education-timeline .timeline:nth-child(2n) .timeline-icon {
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg)
    }
    .main-education-timeline .timeline:nth-child(2n) .year,
    .main-education-timeline .year {
        transform: rotate(-135deg)
    }
    .main-education-timeline .timeline-content,
    .main-education-timeline .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto
    }
    .main-education-timeline .timeline-content:before,
    .main-education-timeline .timeline:nth-child(2n) .timeline-content:before {
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0)
    }
}


/*end timeline*/